[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dash = "*"
pandas = "*"
flask-login = "*"
dash-core-components = "*"
plotly = "*"
pytest = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
